body {
    font-family: sans
}

div.distribs {
    position: relative;
}

.title_distrib {
    cursor: pointer;
    color: blue;
}

.title_distrib_selected {
    text-decoration : underline;
}

div.block_distrib {
    display:none;
}

div.block_distrib_selected {
    display:block;
    position: absolute;
    top:0;
    left:10px;
    padding:1em;
    margin-left: 9em;
}

div.block_release {
    width: 300px;
    float: left;
}

div#canvas {
    position: relative;
    border: 1px solid #9CD8ED;
    margin:15px;
    width: 1002px;
    border-radius: 15px;
}

canvas#showdate {
    position: absolute;
    left:0; top:0;
}
